.mypage-title {
  margin-top: 52px;
}

.card-single-text {
  text-align: center;
  margin: auto;
}

.ant-card-body.card-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.ant-card {
  width: 100%;
  min-width: 300px;
}
