.chatbox {
  width: 200px;
  height: 15px;
}

.chatbox > .ant-card-body {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.chatbox > .ant-card-body > p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.ant-btn {
  white-space: normal;
}
