.FilterSelector {
  position: absolute;
  width: 223px;
  height: 360px;
  border: 1px solid grey;
  background-color: white;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-right: auto;
  right: 0%;
  p {
    margin-right: auto;
    margin-left: 10%;
    font-weight: 900;
    margin-top: 20px;
  }
}
